@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor;
@{
    ViewData["Title"] = "Dashboard Material";
}

    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="javascript:void(0);"> <i data-feather="package"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page"><span>Dashboard</span></li>
    </ol>
    <h1 class="page-header">Dashboard Material</h1>
    <div class="row mb-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="accordion" id="accordion">
                <div class="accordion-item border-0">
                    <div class="accordion-header" id="headingOne">
                        <button class="accordion-button bg-gray-900 text-white px-3 py-10px pointer-cursor" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                            <i class="fa fa-circle fa-fw text-blue me-2 fs-8px"></i>Filter
                        </button>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                        <div class="accordion-body bg-gray-800 text-white">
                            <div class="row">
                                <div class="col-6">
                                     <label  class="form-label">Project</label>
                                    <select name="project_filter" id="project_filter" class="form-control form-control-sm">
                                    @foreach (var val in ViewBag.project)
                                    {
                                        <option value="@(val.projectNo)" data-id="@(val.id)" data-desc="@(val.description)" data-rev="@(val.revision)"> @(val.description)</option>
                                    }
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label  class="form-label">LLDI</label>
                                    <select name="lldi_filter" id="lldi_filter" class="form-control form-control-sm">
                                        <option value="all">ALL</option>
                                        <option value="0">NON LLDI</option>
                                        <option value="1">LLDI</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="row gx-2 mb-10px">
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-stats bg-blue mb-7px">
                        <div class="stats-icon"><i class="fa fa-check fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title">READY</div>
                            <div class="stats-number text_ready"></div>
                            <div class="stats-link detail_ready"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-stats bg-green mb-7px">
                        <div class="stats-icon"><i class="fa fa-route fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title">ON TRACK</div>
                            <div class="stats-number text_ontrack"></div>
                            <div class="stats-link detail_on_track"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-stats bg-orange  mb-7px">
                        <div class="stats-icon"><i class="fa fa-clock fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title">DELAY</div>
                            <div class="stats-number text_delay"></div>
                            <div class="stats-link detail_delay"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Grafik Summary Material</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div> 
                <div class="panel-body">
                    <div id="summary_material" style="width: 100%;height: 450px;"></div>
                </div>
            </div>
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Grafik Material Pengadaan</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div> 
                <div class="panel-body">
                    <div id="chart_material" style="width: 100%;height: 450px;"></div>
                </div>
            </div>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <!-- <div class="row gx-2 mb-10px">
                <div class="col-lg-6 col-sm-6">
                    <div class="widget widget-stats bg-purple mb-7px">
                        <div class="stats-icon"><i class="fa fa-check fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title">OUTSTANDING PR</div>
                            <div class="stats-number text_delay"></div>
                            <div class="stats-link detail_ready"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="widget widget-stats bg-cyan mb-7px">
                        <div class="stats-icon"><i class="fa fa-route fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title">TUNGGU ONSITE</div>
                            <div class="stats-number text_delay"></div>
                            <div class="stats-link detail_on_track"><a href="/detail_summary_material_pengadaan/' . $sql->revision . '/total" target="_blank" style="color:black;"></a></div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Summary Material Pengadaan</h4>
                    
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <span style="margin-left:5px;" id="load_summary_material_p"><i class="fas fa-cog fa-spin"></i></span>    
                    </div>
                </div> 
                <div class="panel-body">
                    <div class="table-responsive ">
                        <table class="table small table-striped table-bordered dataTables_wrapper" width="100%">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>KETERANGAN</th>
                                    <th>JUMLAH</th>
                                    <th>PERSEN (%)</th>
                                </tr>
                            </thead>
                            <tbody id="list_summary_pengadaan">

                            </tbody>
                        </table>
                    </div>
                    <div class="tot_del"></div>
                </div>
            </div>
            
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Grafik Progress Pengadaan Material</h4>
                    @if (Accessor.HttpContext.Session.GetString("role") == "superadmin")
                    {
                        <a href="javascript:;" class="btn btn-xs btn-warning" id="update_grafik">Update</a>
                    }
                    
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand" style="margin-left:10px"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <span style="margin-left:5px;" id="load_grafik_pengadaan"><i class="fas fa-cog fa-spin"></i></span>
                    </div>
                </div> 
                <div class="panel-body">
                    <div id="chart_progress_material" style="width: 100%;height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="detail_" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title judul-modal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"  aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">      
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Data Material</h4>
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                                
                            </div>
                        </div>      
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="table_order" class="table small table-striped table-bordered dataTables_wrapper " --bs-table-accent-bg: transparant; width="100%">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Order</th>
                                            <th>Item</th>
                                            <th>Kimap</th>
                                            <th>Desc</th>
                                            <th>PR</th>
                                            <th>Item PR</th>
                                            <th>PO</th>
                                            <th>Item PO</th>
                                            <th>Qty Req</th>
                                            <th>Qty PR</th>
                                            <th>Qty PO</th>
                                            <th>U/I</th>
                                            <th>LLDI</th>
                                            <th>Progress</th>
                                        </tr>
                                    </thead> 
                                </table>
                            </div>
                        </div>
                    </div> 
                </div>           
            </div>
        </div>
    </div>

@section Scripts
{
    <script src="~/assets/amcharts5/index.js"></script>
    <script src="~/assets/amcharts5/xy.js"></script>
    <script src="~/assets/amcharts5/percent.js"></script>
    <script src="~/assets/amcharts5/themes/Animated.js"></script>
    <script src="~/js/DashboardMaterial.js"></script>
}